@charset "UTF-8";

/* If anyone is a css wizard that would be awesome */
.marginDiv {
	margin: 75px;
}
.inputField {
	margin: 2px;
	padding: 6px;
	border-radius: 6px;
}
.bigInputField {
	margin: 2px;
	padding: 6px;
	border-radius: 6px;
	width: 300px;
}
.defaultButton {
	margin: 2px;
	padding: 6px;
	border-radius: 15px;
}
body {
	font-family: "Arial";
}
h4 {
	text-decoration: underline;
}
.warningText {
	color: red;
	visibility: hidden;
}
th {
	margin: 5px;
}
table {
	border: 2px black;
}

select {
	margin: 2px;
	padding: 6px;
	border-radius: 6px;
}