@charset "UTF-8";

/* If anyone is a css wizard that would be awesome */
.marginDiv {
	margin: 75px;
}
.inputField {
	margin: 2px;
	padding: 6px;
	border-radius: 6px;
}
.defaultButton {
	margin: 2px;
	padding: 6px;
	border-radius: 15px;
}
body {
	font-family: "Arial";
}

.warningText {
	color: red;
	visibility: hidden;
}
th {
	margin: 5px;
}